<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikeoffprod.nscheduler">
    <application
        android:theme="@style/AppTheme"
        android:label="Scheduler"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true">
        <activity
            android:label="Scheduler"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Create Note"
            android:name=".CreateNote">
            <intent-filter>
                <action android:name="com.mikeoffprod.nscheduler.CreateNote" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="Information"
            android:name=".View_Note">
        </activity>
        <activity
            android:label="Edit Note"
            android:name=".Edit_Note">
        </activity>
        <receiver
            android:name=".AlarmReceiver"
            android:exported="true"
            android:enabled="true">
        </receiver>
        <receiver
            android:name=".NotificationManager2"
            android:exported="true"
            android:enabled="true">
        </receiver>
        <activity
            android:theme="@android:style/Theme.Dialog"
            android:name=".Alert">
        </activity>
    </application>
</manifest>